:root {
  --Scissors-Gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --Paper-Gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --Rock-Gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --Lizard-Gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --Cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);
  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);
  --Radial-Gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(var(--Radial-Gradient));
}

.container .header {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .header .header-content {
  border: 4px solid var(--Header-Outline);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 20rem; */
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  width: 50%;
  max-height: 130px;
}

.container .header .header-content .logo-contain {
  /* width: 100%; */
  height: 100%;
}

.container .header .header-content .logo {
  width: 100%;
  height: 100%;
}

.container .header .header-content .header-score {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
}

.container .header .header-content .header-score .score-text {
  color: var(--Score-Text);
  font-weight: bold;
}

.container .header .header-content .header-score .score-number {
  color: var(--Dark-Text);
  font-weight: 900;
  font-size: 30px;
  transition: 1s;
}

.container .header .header-content .header-score .score-number.hide {
  transition: 1s;
  scale: 0;
  transform: translateY(-500%);
}

.container .contain {
  height: 65vh;
  position: relative;
}

.container .main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .main .main-contain {
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.6s;
}

.container .main .main-contain.hide {
  scale: 0;
}

.container .main .main-contain .triangle-img {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container .main .main-contain .triangle-img .triangle {
  width: 100%;
  height: 100%;
}

.container .main .main-contain .main-icons {
  width: 100%;
  height: 100%;
  position: absolute;
}

.container .main .main-contain .main-icons .paper {
  background: linear-gradient(var(--Paper-Gradient));
  height: 170px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -3rem;
  margin-left: -3rem;
  cursor: pointer;
}

.container .main .main-contain .main-icons .paper .paper-img {
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 1.6rem;
  border-radius: 50%;
}

.container .main .main-contain .main-icons .scissor {
  background: linear-gradient(var(--Scissors-Gradient));
  height: 170px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -3rem;
  margin-right: -3rem;
  cursor: pointer;
}

.container .main .main-contain .main-icons .scissor .scissor-img {
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 1.6rem;
  border-radius: 50%;
}

.container .main .main-contain .main-icons .rock {
  background: linear-gradient(var(--Rock-Gradient));
  height: 170px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -3rem;
}

.container .main .main-contain .main-icons .rock .rock-img {
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 1.6rem;
  border-radius: 50%;
}

.container .main-choose {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  transition: 0.5s;
}

.container .main-choose.hide {
  transform: translateX(-300%);
}

.container .main-choose .user-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.container .main-choose .user-contain .user-text {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.container .main-choose .user-contain .user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container .main-choose .user-contain .user-container .user-empty {
  background: hsl(223.08deg 45.88% 16.67%);
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.container .main-choose .user-contain .user-container .user-img-contain {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 1.5rem;
}

.container
  .main-choose
  .user-contain
  .user-container
  .user-img-contain.scissor {
  background: linear-gradient(var(--Scissors-Gradient));
}

.container .main-choose .user-contain .user-container .user-img-contain.paper {
  background: linear-gradient(var(--Paper-Gradient));
}
.container .main-choose .user-contain .user-container .user-img-contain.rock {
  background: linear-gradient(var(--Rock-Gradient));
}

.container
  .main-choose
  .user-contain
  .user-container
  .user-img-contain
  .user-img {
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2rem;
  transition: 0.6s;
}

.container
  .main-choose
  .user-contain
  .user-container
  .user-img-contain
  .user-img.hide {
  transform: scale(0);
}

.container .main-choose .result-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: 0.6s;
}

.container .main-choose .result-dialog.hide {
  transition: 0.6s;
  transform: scale(0);
  display: none;
}

.container .main-choose .result-dialog .dialog-text {
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
}

.container .main-choose .result-dialog .play-btn {
  text-decoration: none;
  background: #fff;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  color: var(--Dark-Text);
  font-weight: bold;
}

.container .main-choose .result-dialog .play-btn:hover {
  color: hsl(349, 70%, 56%);
}

.container .bottom {
  height: 10vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

.container .bottom .rule-btn {
  text-decoration: none;
  margin: 2rem;
  color: #fff;
  border: solid 2px #fff;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.rule-alert {
  transition: 0.7s;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform-origin: 50%;
  top: 0;
  backdrop-filter: brightness(0.5);
}

.rule-alert.hide {
  transition: 0.6s;
  scale: 0;
  transform: translateX(-300%);
  transform: translatey(-300%);
}

.rule-alert .rule-container {
  background: #fff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem;
}

.rule-alert .rule-container .rule-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rule-alert .rule-container .rule-header .rule-text {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--Dark-Text);
}

.rule-alert .rule-container .rule-img-contain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.rule-alert .rule-container .rule-img-contain img {
  width: 100%;
  /* height: 100%; */
}

.rule-alert .rule-container .rule-header .rule-cancel {
  cursor: pointer;
}

.rule-alert .rule-container .cancel-btn {
  display: none;
}

@media (max-width: 1142px) {
  .container .header .header-content {
    width: 55%;
  }
  .container .main .main-contain {
    width: 40%;
  }
}

@media (max-width: 1048px) {
  .container .header .header-content {
    width: 65%;
  }
  .container .main .main-contain {
    width: 45%;
  }
}

@media (max-width: 982px) {
  .container .main-choose {
    gap: 5rem;
  }
}

@media (max-width: 914px) {
  .container .main-choose {
    gap: 3rem;
  }
  .container .main-choose .user-contain .user-container .user-img-contain {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 860px) {
  .container .header .header-content {
    width: 75%;
  }
  .container .main .main-contain {
    width: 50%;
  }

  .container .main-choose {
    gap: 1rem;
  }
}

@media (max-width: 760px) {
  .container .main-choose .user-contain .user-container .user-img-contain {
    width: 150px;
    height: 150px;
  }
  .container
    .main-choose
    .user-contain
    .user-container
    .user-img-contain
    .user-img {
    padding: 1rem;
  }

  .container .main-choose .result-dialog .dialog-text {
    font-size: 30px;
  }

  .container .main-choose .result-dialog .play-btn {
    padding: 1rem 2rem;
  }
}

@media (max-width: 754px) {
  .container .header .header-content {
    width: 85%;
  }
  .container .main .main-contain {
    width: 55%;
  }
}

@media (max-width: 660px) {
  .container .header .header-content {
    width: 95%;
  }
  .container .main .main-contain {
    width: 60%;
  }
}

@media (max-width: 658px) {
  .container .main-choose .result-dialog .dialog-text {
    font-size: 25px;
  }
}

@media (max-width: 626px) {
  .container .main-choose .user-text {
    font-size: 15px;
  }

  .container .main-choose .result-dialog .dialog-text {
    font-size: 20px;
  }
}

@media (max-width: 578px) {
  .container .main-choose .user-text {
    font-size: 10px;
  }
  .container .main-choose .user-contain .user-container .user-img-contain {
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 558px) {
  .container .header .header-content .logo-contain {
    width: 150px;
  }

  .container .header .header-content .header-score {
    padding: 1rem 2rem;
  }

  .container .main .main-contain {
    width: 65%;
  }
}

@media (max-width: 545px) {
  .container .main-choose .result-dialog .dialog-text {
    font-size: 17px;
  }

  .container .main-choose .result-dialog .play-btn {
    padding: 1rem 1.3em;
  }
}

@media (max-width: 496px) {
  .container .main .main-contain {
    width: 70%;
  }
}

@media (max-width: 460px) {
  .container .header .header-content .logo-contain {
    width: 130px;
  }
  .container .main .main-contain {
    height: 55%;
  }

  .container .main .main-contain .main-icons .paper {
    height: 140px;
    width: 140px;
  }

  .container .main .main-contain .main-icons .scissor {
    height: 140px;
    width: 140px;
  }

  .container .main .main-contain .main-icons .rock {
    height: 140px;
    width: 140px;
  }

  .container .main-choose {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 0;
  }

  .container .main-choose .result-dialog {
    grid-column-start: 1; /* Place element 2 in the second column */
    grid-column-end: -1; /* Place element 2 in the second column */
    grid-row: 2; /* Place element 2 in the first row */
  }

  .container .main-choose .result-dialog .dialog-text {
    text-align: center;
  }

  .container .bottom {
    justify-content: center;
  }

  .rule-alert .rule-container {
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
  }
  .rule-alert .rule-container .rule-header {
    padding-top: 5rem;
  }
  .rule-alert .rule-container .rule-header .rule-cancel {
    display: none;
  }
  .rule-alert .rule-container .cancel-btn {
    display: block;
    /* padding: 5rem; */
  }
}

@media (max-width: 386px) {
  .container .header .header-content .logo-contain {
    width: 100px;
  }
  .container .header .header-content .header-score {
    padding: 1rem 1.5rem;
  }
  .container .main .main-contain {
    width: 65%;
    height: 50%;
  }

  .container .main .main-contain .main-icons .paper {
    height: 130px;
    width: 130px;
  }

  .container .main .main-contain .main-icons .scissor {
    height: 130px;
    width: 130px;
  }

  .container .main .main-contain .main-icons .rock {
    height: 130px;
    width: 130px;
  }
}

@media (max-width: 350px) {
  .container .header .header-content .logo-contain {
    width: 80px;
  }

  .container .header .header-content .header-score {
    padding: 1rem 1rem;
  }
  .container .main .main-contain {
    width: 60%;
    height: 45%;
  }

  .container .main .main-contain .main-icons .paper {
    height: 120px;
    width: 120px;
  }

  .container .main .main-contain .main-icons .scissor {
    height: 120px;
    width: 120px;
  }

  .container .main .main-contain .main-icons .rock {
    height: 120px;
    width: 120px;
  }
}

@media (max-width: 310px) {
  .container .main .main-contain {
    height: 40%;
  }
}

@media (max-width: 295px) {
  .container .main .main-contain {
    height: 35%;
  }
}
